<% enemy ||= @enemy %>

<div class="enemy_stats">
  <div class="enemy_name"><%= enemy.name %> </div>
  <div class="enemy_stat">Health: <%= enemy.health %></div>
  <div class="enemy_stat">Speed: <%= enemy.speed %></div>
  <div class="enemy_stat">Distance: <%= enemy.distance %></div>
</div>
