extends layout
block head
  style.
    body {
    }
  title Room 
block content
  .enemyContainer.
    stuff
  .infoContianer.
    more stuff
  .buttonContainer
    button.aButton A
    button.bButton B
block javascript
  script(src="/Scripts/jquery.timeago.js")
