body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
  display: block;
  width:100%;
  height:45vh;
}
.aButton {
  background-color: green;
}
.bButton {
  background-color: red;
  margin-top:2vh;
}
.infoContianer {
  width: 48%;
  height:98vh;
  display:inline-block;
  vertical-align: top;
}
.buttonContainer {
  display:inline-block;
  width:20%;
}
.enemyContainer {
  display:inline-block;
  background-color: blue;
  width:30%;
  border-right:1px solid;
  height:98vh;
  vertical-align: top;
}
