body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.buttonContainer {
  display:inline-block;
  width:65%;
  background-color: gray;
}
.enemyContainer {
  display:inline-block;
  background-color: blue;
  width:30%;
  border-right:1px solid;
}
