<% content_for :head do %>
<script type="text/javascript">
$(document).ready(function() {
  setInterval(function(){ roomsFunctions.updateRoomFields(<%= @room.id %>); }, 2000);
});
</script>
<% end %>

<div id="dataDiv" class="info_column">
<%= render :partial => 'room_hud' %>
</div>
<div class="action_column">
<%= button_to_function "A", "roomsFunctions.pressAButton(#{@room.id});", :class => 'a_button' %>
<%= button_to_function "B", "roomsFunctions.pressBButton(#{@room.id});", :class => 'b_button' %>
</div>
