// Place all the styles related to the enemies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color: #000000;

.enemy_stats {
  border-collapse: collapse;
  border: 3px solid $color;
  padding: 5px;
  margin-bottom: 5px;
}

.enemy_name {
  font-size: 200%;
  font-weight: 900;
}

.enemy_stat {
  text-align: right;
}
