// Place all the styles related to the ships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color : #000000;


.ship_table{
border-collapse:collapse;
border:1px solid $color;
}

.ship_table td{
border:1px solid $color;
}