// Place all the styles related to the ships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color: #000000;

.ship_table {
  border-collapse: collapse;
  border: 1px solid $color;
}

.ship_table td {
  border: 1px solid $color;
  padding: 10px;
  vertical-align: top;
}

.killed_enemies_title {
  margin-top: 10px;
  font-size: 150%;
  font-weight: 800;
}
